$color-background: white;
$color-background-text: rgba(255, 255, 255, 0.5);

$color-text: #403F3D;
$color-text-buttons: #f1f1f1;

$color-border: rgba(2%, 43%, 67%, 1);

$content-width: 1440px;
$tablet-tablet-width: 768px;
$mobile-big-width: 430px;
$mobile-small-width: 375px;