@charset "UTF-8";
/* Import vendors */
@import "vendors/normalize.css";
/* Import abstracts */
/* Import base */
html {
  font-size: 10px;
  background-color: white;
  color: #403F3D;
}

body {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 1.6rem;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #403F3D;
}

h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0px;
}

h1,
h2 {
  line-height: 150%;
}

.disable {
  display: none;
}

.not-clickable {
  cursor: default;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: local("Open Sans"), url(../../fonts/OpenSans-Bold.ttf);
}
/* Import pages */
/* Home. Welcome */
.welcome-section {
  background-image: url(../../img/home/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.welcome-section__container {
  width: 40%;
  padding: 100px 20px;
}

.welcome-section__content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.welcome-section__description {
  line-height: 150%;
  text-align: justify;
}

/* Main. Search */
.region-tabs__list {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.region-tabs__item {
  padding: 10px 15px;
  border: 1px solid rgb(5, 110, 171);
  border-radius: 25px;
  cursor: pointer;
}

.item-active {
  background-color: rgb(5, 110, 171);
  color: #f1f1f1;
}

.search-section {
  margin-top: 20px;
}

.search-container {
  margin-top: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
}

.filter-select {
  width: 250px;
}

.search-section__title {
  text-align: center;
}

.search-container {
  display: flex;
}

.search-form {
  margin: auto;
}

/* Main. News */
.news-section {
  height: 30vh;
}

.news-section__content-container {
  width: 40%;
  padding: 80px 20px;
}

.banner-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
}

.banner-section__container {
  width: 30%;
  padding: 100px 20px;
}

.banner-section__content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.banner-section__description {
  line-height: 150%;
  text-align: justify;
  font-size: 1.1em;
}

.highpoint-article {
  margin-top: 20px;
  display: flex;
}

.highpoint-article__items {
  display: flex;
  justify-content: left;
  padding-left: 30px;
  align-items: center;
  gap: 50px;
}

.highpoint-article__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.highpoint-article__item__description {
  font-weight: 700;
}

.highpoint-article__subtitle {
  margin-top: 20px;
  padding-left: 30px;
}

.highpoint-article__info {
  padding: 20px 30px 0px;
  line-height: 150%;
  border-right: 1px solid rgb(5, 110, 171);
}

.highpoint-article__content {
  padding: 20px 30px 0px;
}

.altimeter-img {
  width: 300px;
}

.highpoint-aside {
  padding: 0px 20px;
  width: 50vw;
}

.highpoint-aside__title {
  margin-bottom: 10px;
}

.highpoint-aside__routes {
  margin-bottom: 20px;
}

.highpoint-aside__video {
  width: 100%;
  height: 22vh;
  border-radius: 20px;
}

/* Баннеры */
.banner-adigea {
  background-image: url(../../img/Russia-republics/Adigea.jpg);
}

.banner-mari_el {
  background-image: url(../../img/Russia-republics/Mari_el.png);
}

/* Import layout */
.wrapper {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 125%;
  border-bottom: 1px solid rgb(5, 110, 171);
}

.logo a {
  display: flex;
  align-items: center;
}

.header .logo__icon {
  display: inline-block;
  background-image: url("../../img/logo/logo.jpg");
  background-size: cover;
  height: 64px;
  min-width: 64px;
  margin-right: 10px;
}

.header .logo__title {
  font-size: 1.4em;
  font-weight: 700;
}

.nav__list {
  display: flex;
  font-weight: 700;
}

.nav__item:not(:last-child) {
  padding-right: 40px;
}

.region-list {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid rgb(5, 110, 171);
}

.footer .logo__icon {
  display: inline-block;
  background-image: url("../../img/logo/logo.jpg");
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.footer .logo__title {
  font-size: 1.2em;
  font-weight: 700;
}

.enjoy__list {
  display: flex;
  gap: 20px;
}

.highpoints-grid {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px;
  align-items: center;
}

.highpoints-list__type-name {
  font-size: 1.6em;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}

.highpoints-list__type-of {
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fill, minmax(22%, 310px));
  grid-template-rows: repeat(506px);
  gap: 40px;
}

.highpoints-list__item {
  border: 3px solid rgb(5, 110, 171);
  border-radius: 20px;
  height: 450px;
}

.highpoints-item__img {
  width: 100%;
  height: 200px;
  border-radius: 16px;
}

.highpoints-item__flag {
  display: inline-block;
  width: 100px;
  position: absolute;
  border-top-left-radius: 16px;
}

.highpoints-item__high {
  display: inline-block;
  position: absolute;
  margin-left: 220px;
  margin-top: 5px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: 700;
}

.highpoints-item__title {
  font-size: 1.4em;
  font-weight: 700;
  color: rgb(5, 110, 171);
}

.highpoints-item__info-container {
  padding: 10px 20px;
  gap: 10px;
}

.highpoints-item__description {
  margin-top: 10px;
}

/* Import components */
.button {
  padding: 5px 10px;
  margin: 5px;
  border: 3px solid rgb(5, 110, 171);
  background-color: rgb(5, 110, 171);
  color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
}

.welcome-section .enjoy-button {
  margin: 0px 5px;
  padding: 15px 25px;
  font-size: 1.5em;
  border-radius: 15px;
}

/*# sourceMappingURL=style.css.map */
