.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 125%;
    border-bottom: 1px solid $color-border;
  }
  
  .nav__list {
    display: flex;
    font-weight: 700;
  }
  
  .nav__item:not(:last-child){
    padding-right: 40px;
  }
  
  .region-list {
    display: none;
  }