@charset "UTF-8";
/* Import vendors */
@import "vendors/normalize.css";
/* Import abstracts */
/* Import base */
html {
  font-size: 10px;
  background-color: white;
  color: #403F3D;
}

body {
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 1.6rem;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #403F3D;
}

a:hover {
  color: rgb(5, 110, 171);
  border-bottom: 1px solid rgb(5, 110, 171);
}

.logo a:hover,
.article-section__list a:hover {
  border-bottom: none;
}

h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0px;
}

h1,
h2 {
  line-height: 150%;
}

.disable {
  display: none;
}

.not-clickable {
  cursor: default;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url(/src/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: local("Open Sans"), url(/src/fonts/OpenSans-Bold.ttf);
}
/* Import pages */
/* Home. Welcome */
.welcome-section {
  background-image: url(/src/img/home/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.welcome-section__container {
  width: 40%;
  padding: 100px 20px;
}

.welcome-section__content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 3px solid rgb(5, 110, 171);
}

.welcome-section__description {
  line-height: 150%;
  text-align: justify;
}

/* Main. Search */
.region-tabs__list {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.region-tabs__item {
  padding: 10px 15px;
  border: 1px solid rgb(5, 110, 171);
  border-radius: 25px;
  cursor: pointer;
}

.item-active {
  background-color: rgb(5, 110, 171);
  color: #f1f1f1;
}

.search-section {
  margin-top: 20px;
}

.search-container {
  margin-top: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
}

.filter-select {
  width: 250px;
}

.search-section__title {
  text-align: center;
}

.search-container {
  display: flex;
}

.search-form {
  margin: auto;
}

/* Main. News */
.news-section__content-container {
  height: 40vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  background-image: url(/src/img/news/mari-el.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}

.news-section__content {
  width: 50%;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
  align-self: self-start;
}

.news-section__video {
  width: 50%;
  height: 100%;
}

.news-video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Баннер секция */
.banner-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
}

.banner-section__title {
  line-height: 115%;
}

.banner-section__container {
  width: 30%;
  padding: 100px 20px;
}

.banner-section__content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.banner-section__description {
  line-height: 150%;
  text-align: justify;
  font-size: 1.1em;
}

/* Статья. Важные поинты */
.highpoint-article {
  margin-top: 20px;
  display: flex;
}

.highpoint-article__info {
  padding: 20px 30px 0px;
  line-height: 150%;
  border-right: 1px solid rgb(5, 110, 171);
}

.highpoint-article__items {
  display: flex;
  justify-content: left;
  padding-left: 30px;
  align-items: center;
  gap: 50px;
}

.highpoint-article__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.highpoint-article__contain {
  display: flex;
  align-items: center;
  gap: 5px;
}

.highpoint-article__item__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.highpoint-article__item__description {
  font-weight: 700;
}

/* Статья. Навигация */
.article-section__list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.article-section__item {
  font-size: 20px;
  border: 1px solid rgb(5, 110, 171);
  padding: 10px;
}

.article-section__item:not(:last-child) {
  border-right: 1px solid rgb(5, 110, 171);
}

/* Статья. Основной контент */
.highpoint-article__subtitle {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 30px;
  border-top: 1px solid rgb(5, 110, 171);
}

.highpoint-article__subtitle-route {
  padding-left: 30px;
  margin-bottom: 0px;
}

.highpoint-article__content {
  padding: 10px 30px 10px;
}

.article_check__info {
  margin-left: 30px;
  margin-top: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 60%;
  padding: 5px;
}

.highpoint-article__map-image {
  margin-left: 30px;
  max-width: 800px;
  border: 1px solid rgb(5, 110, 171);
  border-radius: 20px;
}

.highpoint-photo {
  max-width: 800px;
  margin-left: 30px;
  border: 1px solid rgb(5, 110, 171);
  border-radius: 20px;
}

.altimeter-img {
  width: 300px;
  margin-left: 30px;
  margin-top: 10px;
  border: 1px solid rgb(5, 110, 171);
  border-radius: 20px;
}

.highpoint-page-link {
  color: rgb(5, 110, 171);
  font-weight: 700;
}

.highpoint-page-link:hover {
  border-bottom: 1px solid rgb(5, 110, 171);
}

/* Aside */
.highpoint-aside {
  padding: 0px 20px;
  width: 50vw;
  min-width: 350px;
}

.highpoint-aside__title {
  margin-bottom: 10px;
}

.highpoint-aside__routes {
  margin-bottom: 20px;
}

.highpoint-aside__route {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.highpoint-aside__nakarte-icon {
  display: inline-block;
  background-image: url("/src/img/highpoint-page/nakarte.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.highpoint-aside__kml-icon {
  display: inline-block;
  background-image: url("/src/img/highpoint-page/kml.jpg");
  background-size: cover;
  width: 21px;
  height: 20px;
  border-radius: 5px;
}

.highpoint-aside__gpx-icon {
  display: inline-block;
  background-image: url("/src/img/highpoint-page/gpx.png");
  background-size: cover;
  width: 21px;
  height: 20px;
  border-radius: 5px;
}

.highpoint-aside__video {
  width: 100%;
  height: 22vh;
  border-radius: 20px;
}

.about-top {
  display: flex;
}

.about-photo {
  background-image: url("/src/img/about/photo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 550px;
  height: 600px;
  margin: 20px;
}

.about-info {
  margin: 20px;
}

.about-title {
  padding: 0px 10px 10px;
  color: rgb(5, 110, 171);
}

.about-content {
  padding: 0px 10px 10px;
}

.project-title {
  color: rgb(5, 110, 171);
  text-align: center;
}

.form-title {
  text-align: center;
  color: rgb(5, 110, 171);
  padding: 10px;
}

.about-warning {
  padding: 5px 10px;
  list-style: disc;
  list-style-position: inside;
}

.about-link {
  color: rgb(5, 110, 171);
  font-weight: 700;
}

.participants-header {
  padding: 20px 20px 0px;
}

.participants-info {
  padding: 20px 20px;
}

.header-table {
  font-size: 1.6em;
  padding: 20px 20px 10px;
  text-align: center;
  color: rgb(5, 110, 171);
}

.header-FO-table {
  font-size: 1.4em;
  padding: 20px 20px 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

caption {
  font-weight: 700;
  padding: 10px 5px 10px;
  text-align: left;
}

td,
th {
  font-size: 0.9em;
  border: 1px solid #c1c0c0;
  padding: 5px;
  line-height: 120%;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #f9f9f9;
}

tr:nth-child(odd) td {
  background-color: #fff;
}

tbody tr .point-done {
  background-color: rgb(183, 227, 255);
}

.table-fio {
  min-width: 145px;
}

/* Import layout */
.wrapper {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 125%;
  border-bottom: 1px solid rgb(5, 110, 171);
}

.logo a {
  display: flex;
  align-items: center;
}

.header .logo__icon {
  display: inline-block;
  background-image: url("/src/img/logo/logo.jpg");
  background-size: cover;
  height: 64px;
  min-width: 64px;
  margin-right: 10px;
}

.header .logo__title {
  font-size: 1.4em;
  font-weight: 700;
}

.nav__list {
  display: flex;
  font-weight: 700;
}

.nav__item:not(:last-child) {
  padding-right: 40px;
}

.region-list {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid rgb(5, 110, 171);
}

.footer .logo__icon {
  display: inline-block;
  background-image: url("/src/img/logo/logo.jpg");
  background-size: cover;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.footer .logo__title {
  font-size: 1.2em;
  font-weight: 700;
}

.enjoy__list {
  display: flex;
  gap: 20px;
}

/* Highpoints Grid */
.highpoints-grid {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1360px;
  align-items: center;
}

.highpoints-list {
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fill, minmax(22%, 310px));
  grid-template-rows: repeat(506px);
  gap: 40px;
}

/* Highpoints Cards */
.highpoints-item {
  border: 3px solid rgb(5, 110, 171);
  border-radius: 20px;
  height: 460px;
}

.highpoints-item__img-container {
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.highpoints-item__flag {
  display: inline-block;
  width: 90px;
  position: absolute;
  border-top-left-radius: 16px;
}

.highpoints-item__high {
  display: inline-block;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: 700;
  padding-top: 5px;
  padding-right: 10px;
  text-shadow: 2px 2px #403F3D;
}

.highpoints-item__info-container {
  padding: 10px 20px;
  gap: 10px;
}

.highpoints-item__title {
  font-size: 1.4em;
  font-weight: 700;
  color: rgb(5, 110, 171);
}

.highpoints-item__description {
  margin-top: 10px;
  line-height: 125%;
}

/* Republics */
.card-adygea {
  background-image: url(/src/img/highpoint-card/republics/adygea.jpg);
}

.card-altai-republic {
  background-image: url(/src/img/highpoint-card/republics/altai-republic.jpg);
}

.card-bashkortostan {
  background-image: url(/src/img/highpoint-card/republics/bashkortostan.jpg);
}

.card-buryatia {
  background-image: url(/src/img/highpoint-card/republics/buryatia.jpg);
}

.card-dagestan {
  background-image: url(/src/img/highpoint-card/republics/dagestan.jpg);
}

.card-ingushetia {
  background-image: url(/src/img/highpoint-card/republics/ingushetia.jpg);
}

.card-kabardino-balkaria {
  background-image: url(/src/img/highpoint-card/republics/kabardino-balkaria.jpg);
}

.card-kalmykia {
  background-image: url(/src/img/highpoint-card/republics/kalmykia.jpg);
}

.card-karachay-cherkessia {
  background-image: url(/src/img/highpoint-card/republics/karachay-cherkessia.jpg);
}

.card-karelia {
  background-image: url(/src/img/highpoint-card/republics/karelia.jpg);
}

.card-komi {
  background-image: url(/src/img/highpoint-card/republics/komi.jpg);
}

.card-mari-el {
  background-image: url(/src/img/highpoint-card/republics/Mari_el.png);
}

.card-mordovia {
  background-image: url(/src/img/highpoint-card/republics/mordovia.jpg);
}

.card-sacha {
  background-image: url(/src/img/highpoint-card/republics/sakha.jpg);
}

.card-severnya_ossetia {
  background-image: url(/src/img/highpoint-card/republics/severnya_ossetia.jpg);
}

.card-tatarstan {
  background-image: url(/src/img/highpoint-card/republics/tatarstan.jpg);
}

.card-tuva {
  background-image: url(/src/img/highpoint-card/republics/tuva.jpg);
}

.card-udmurtia {
  background-image: url(/src/img/highpoint-card/republics/udmurtia.jpg);
}

.card-hakasia {
  background-image: url(/src/img/highpoint-card/republics/hakasia.jpg);
}

.card-chechen {
  background-image: url(/src/img/highpoint-card/republics/chechen.jpg);
}

.card-chuvashia {
  background-image: url(/src/img/highpoint-card/republics/chuvashia.jpg);
}

/* Krai */
.card-altai-krai {
  background-image: url(/src/img/highpoint-card/krai/altai-krai.jpg);
}

.card-zabaikalsky {
  background-image: url(/src/img/highpoint-card/krai/zabaikalsky.jpg);
}

.card-kamchatka {
  background-image: url(/src/img/highpoint-card/krai/kamchatka.jpg);
}

.card-krasnodar {
  background-image: url(/src/img/highpoint-card/krai/krasnodar.jpeg);
}

.card-krasnoyarsk {
  background-image: url(/src/img/highpoint-card/krai/krasnoyarsk.jpg);
}

.card-perm {
  background-image: url(/src/img/highpoint-card/krai/perm.jpg);
}

.card-primorsky {
  background-image: url(/src/img/highpoint-card/krai/primorsky.jpg);
}

.card-stavropol {
  background-image: url(/src/img/highpoint-card/krai/stavropol.png);
}

.card-habarovsk {
  background-image: url(/src/img/highpoint-card/krai/habarovsk.jpg);
}

/* Regions */
.card-amur {
  background-image: url(/src/img/highpoint-card/regions/amur.jpg);
}

.card-arkhangelsk {
  background-image: url(/src/img/highpoint-card/regions/arkhangelsk.jpg);
}

.card-astrakhan {
  background-image: url(/src/img/highpoint-card/regions/astrakhan.jpg);
}

.card-belgorod {
  background-image: url(/src/img/highpoint-card/regions/belgorod.png);
}

.card-bryansk {
  background-image: url(/src/img/highpoint-card/regions/bryansk.png);
}

.card-vladimir {
  background-image: url(/src/img/highpoint-card/regions/vladimir.jpg);
}

.card-volgograd {
  background-image: url(/src/img/highpoint-card/regions/volgograd.jpg);
}

.card-vologda {
  background-image: url(/src/img/highpoint-card/regions/vologda.jpg);
}

.card-voronezh {
  background-image: url(/src/img/highpoint-card/regions/voronezh.jpg);
}

.card-ivanovo {
  background-image: url(/src/img/highpoint-card/regions/ivanovo.jpg);
}

.card-irkutsk {
  background-image: url(/src/img/highpoint-card/regions/irkutsk.jpg);
}

.card-kaliningrad {
  background-image: url(/src/img/highpoint-card/regions/kaliningrad.jpg);
}

.card-kaluga {
  background-image: url(/src/img/highpoint-card/regions/kaluga.png);
}

.card-kemerovo {
  background-image: url(/src/img/highpoint-card/regions/kemerovo.jpg);
}

.card-kirov {
  background-image: url(/src/img/highpoint-card/regions/kirov.png);
}

.card-kostroma {
  background-image: url(/src/img/highpoint-card/regions/kostroma.JPG);
}

.card-kurgan {
  background-image: url(/src/img/highpoint-card/regions/kurgan.jpg);
}

.card-kursk {
  background-image: url(/src/img/highpoint-card/regions/kursk.jpg);
}

.card-leningrad {
  background-image: url(/src/img/highpoint-card/regions/leningrad.jpg);
}

.card-lipetsk {
  background-image: url(/src/img/highpoint-card/regions/lipetsk.jpg);
}

.card-magadan {
  background-image: url(/src/img/highpoint-card/regions/magadan.jpg);
}

.card-moscow-oblast {
  background-image: url(/src/img/highpoint-card/regions/moscow-oblast.JPG);
}

.card-murmansk {
  background-image: url(/src/img/highpoint-card/regions/murmansk.jpg);
}

.card-nizhny-novgorod {
  background-image: url(/src/img/highpoint-card/regions/nizhny_novgorod.jpg);
}

.card-novgorod {
  background-image: url(/src/img/highpoint-card/regions/novgorod.jpg);
}

.card-novosibirsk {
  background-image: url(/src/img/highpoint-card/regions/novosibirsk.jpg);
}

.card-omsk {
  background-image: url(/src/img/highpoint-card/regions/omsk.jpg);
}

.card-orenburg {
  background-image: url(/src/img/highpoint-card/regions/orenburg.jpg);
}

.card-oryol {
  background-image: url(/src/img/highpoint-card/regions/oryol.png);
}

.card-penza {
  background-image: url(/src/img/highpoint-card/regions/penza.jpg);
}

.card-pskov {
  background-image: url(/src/img/highpoint-card/regions/pskov.png);
}

.card-rostov {
  background-image: url(/src/img/highpoint-card/regions/rostov.jpg);
}

.card-ryazan {
  background-image: url(/src/img/highpoint-card/regions/ryazan.JPG);
}

.card-samara {
  background-image: url(/src/img/highpoint-card/regions/samara.jpg);
}

.card-saratov {
  background-image: url(/src/img/highpoint-card/regions/saratov.jpg);
}

.card-sakhalin {
  background-image: url(/src/img/highpoint-card/regions/sakhalin.jpg);
}

.card-sverdlovsk {
  background-image: url(/src/img/highpoint-card/regions/sverdlovsk.jpg);
}

.card-smolensk {
  background-image: url(/src/img/highpoint-card/regions/smolensk.jpg);
}

.card-tambov {
  background-image: url(/src/img/highpoint-card/regions/tambov.jpg);
}

.card-tver {
  background-image: url(/src/img/highpoint-card/regions/tver.png);
}

.card-tomsk {
  background-image: url(/src/img/highpoint-card/regions/tomsk.jpg);
}

.card-tula {
  background-image: url(/src/img/highpoint-card/regions/tula.jpg);
}

.card-tyumen {
  background-image: url(/src/img/highpoint-card/regions/tyumen.jpg);
}

.card-ulyanovsk {
  background-image: url(/src/img/highpoint-card/regions/ulyanovsk.png);
}

.card-chelyabinsk {
  background-image: url(/src/img/highpoint-card/regions/chelyabinsk.jpg);
}

.card-yaroslavl {
  background-image: url(/src/img/highpoint-card/regions/yaroslavl.jpg);
}

/* Federal cities */
.card-moscow {
  background-image: url(/src/img/highpoint-card/federal_cities/moscow.png);
}

.card-saint-petersburg {
  background-image: url(/src/img/highpoint-card/federal_cities/saint-petersburg.jpg);
}

/* Autonomous region */
.card-jewish {
  background-image: url(/src/img/highpoint-card/autonomous_region/jewish.jpg);
}

/* Autonomous districts */
.card-nenets {
  background-image: url(/src/img/highpoint-card/autonomous_districts/nenets.jpg);
}

.card-yugra {
  background-image: url(/src/img/highpoint-card/autonomous_districts/yugra.jpg);
}

.card-chukotka {
  background-image: url(/src/img/highpoint-card/autonomous_districts/chukotka.png);
}

.card-yamal-nenets {
  background-image: url(/src/img/highpoint-card/autonomous_districts/yamal-nenets.jpg);
}

/* Import components */
.button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid rgb(5, 110, 171);
  cursor: pointer;
}

.button:hover {
  padding: 5px 10px;
  background-color: rgb(5, 110, 171);
  border: 2px solid rgb(5, 110, 171);
  color: #f1f1f1;
  cursor: pointer;
}

.welcome-section .enjoy-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.5em;
  border: 3px solid rgb(5, 110, 171);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
}

.welcome-section .enjoy-button:hover {
  background-color: rgb(5, 110, 171);
  color: #f1f1f1;
}

/* Icons */
.icon-field {
  background-image: url("/src/img/highpoint-page/icons/field-icon.png");
  background-size: cover;
}

.icon-hills {
  background-image: url("/src/img/highpoint-page/icons/hills-icon.png");
  background-size: cover;
}

.icon-forest {
  background-image: url("/src/img/highpoint-page/icons/forest-icon.png");
  background-size: cover;
}

.icon-mountains {
  background-image: url("/src/img/highpoint-page/icons/mountains-icon.png");
  background-size: cover;
}

.icon-check {
  background-image: url("/src/img/highpoint-page/icons/check-icon.png");
  background-size: cover;
}

.icon-dispute {
  background-image: url("/src/img/highpoint-page/icons/dispute-icon.png");
  background-size: cover;
}

.icon-search {
  background-image: url("/src/img/highpoint-page/icons/search-icon.png");
  background-size: cover;
}

.icon-available {
  background-image: url("/src/img/highpoint-page/icons/available-icon.png");
  background-size: cover;
}

.icon-walk {
  background-image: url("/src/img/highpoint-page/icons/walk-icon.png");
  background-size: cover;
}

.icon-hike {
  background-image: url("/src/img/highpoint-page/icons/hike-icon.png");
  background-size: cover;
}

.icon-expedition {
  background-image: url("/src/img/highpoint-page/icons/expedition-icon.png");
  background-size: cover;
}

.icon-not-climbing {
  background-image: url("/src/img/highpoint-page/icons/accessibility-icon.png");
  background-size: cover;
}

.icon-climbing-light {
  background-image: url("/src/img/highpoint-page/icons/warning-climbing-icon.png");
  background-size: cover;
}

.icon-climbing-hard {
  background-image: url("/src/img/highpoint-page/icons/climbing-icon.png");
  background-size: cover;
}

/* Баннеры. Республики*/
.banner-adigea {
  background-image: url(/src/img/highpoint-page/republics/adigea/banner_adigea.jpg);
}

.banner-altai-republic {
  background-image: url(/src/img/highpoint-page/republics/altai_republic/banner-altai.jpg);
}

.banner-bashkortostan {
  background-image: url(/src/img/highpoint-page/republics/bashkortostan/banner-bashkortostan.jpg);
}

.banner-buryatia {
  background-image: url(/src/img/highpoint-page/republics/buryatia/banner-buryatia.jpg);
}

.banner-dagestan {
  background-image: url(/src/img/highpoint-page/republics/dagestan/banner-dagestan.jpg);
}

.banner-ingushetia {
  background-image: url(/src/img/highpoint-page/republics/ingushetia/banner-ingushetia.jpg);
}

.banner-kabardino-balkaria {
  background-image: url(/src/img/highpoint-page/republics/kabardino-balkaria/banner-kabardino-balkaria.jpg);
}

.banner-kalmykia {
  background-image: url(/src/img/highpoint-page/republics/kalmykia/banner-kalmykia.jpg);
}

.banner-karachay-cherkessia {
  background-image: url(/src/img/highpoint-page/republics/karachay-cherkessia/banner-karachay-cherkessia.jpg);
}

.banner-karelia {
  background-image: url(/src/img/highpoint-page/republics/karelia/banner-karelia.jpg);
}

.banner-komi {
  background-image: url(/src/img/highpoint-page/republics/komi/banner-komi.jpg);
}

.banner-mari_el {
  background-image: url(/src/img/highpoint-page/republics/mari_el/banner_mari_el.png);
}

.banner-mordovia {
  background-image: url(/src/img/highpoint-page/republics/mordovia/banner_mordovia.jpg);
}

.banner-sakha {
  background-image: url(/src/img/highpoint-page/republics/sakha/banner-sakha.jpg);
}

.banner-severnya-ossetia {
  background-image: url(/src/img/highpoint-page/republics/severnaya_ossetia/banner-severnaa-ossetia.jpg);
}

.banner-tatarstan {
  background-image: url(/src/img/highpoint-page/republics/tatarstan/banner-tatarstan.jpg);
}

.banner-tuva {
  background-image: url(/src/img/highpoint-page/republics/tuva/banner-tuva.jpg);
}

/* Баннеры. Области*/
.banner-arkhangelsk {
  background-image: url(/src/img/highpoint-page/regions/arkhangelsk/banner-arkhangelsk.jpg);
}

.banner-astrakhan {
  background-image: url(/src/img/highpoint-page/regions/astrakhan/banner-astrakhan.jpg);
}

.banner-belgorod {
  background-image: url(/src/img/highpoint-page/regions/belgorod/banner-belgorod.png);
}

.banner-bryansk {
  background-image: url(/src/img/highpoint-page/regions/bryansk/banner-bryansk.png);
}

.banner-vladimir {
  background-image: url(/src/img/highpoint-page/regions/vladimir/banner-vladimir.jpg);
}

.banner-volgograd {
  background-image: url(/src/img/highpoint-page/regions/volgograd/banner-volgograd.jpg);
}

.banner-vologda {
  background-image: url(/src/img/highpoint-page/regions/vologda/banner-vologda.jpg);
}

.banner-voronezh {
  background-image: url(/src/img/highpoint-page/regions/voronezh/banner-voronezh.png);
}

.banner-ivanovo {
  background-image: url(/src/img/highpoint-page/regions/ivanovo/banner-ivanovo.jpg);
}

.banner-kaliningrad {
  background-image: url(/src/img/highpoint-page/regions/kaliningrad/banner-kaliningrad.jpg);
}

.banner-kaluga {
  background-image: url(/src/img/highpoint-page/regions/kaluga/banner-kaluga.png);
}

.banner-kostroma {
  background-image: url(/src/img/highpoint-page/regions/kostroma/banner-kostroma.png);
}

.banner-kursk {
  background-image: url(/src/img/highpoint-page/regions/kursk/banner-kursk.jpg);
}

.banner-leningrad {
  background-image: url(/src/img/highpoint-page/regions/leningrad/banner-leningrad.jpg);
}

.banner-lipetsk {
  background-image: url(/src/img/highpoint-page/regions/lipetsk/banner-lipetsk.jpg);
}

.banner-moscow-oblast {
  background-image: url(/src/img/highpoint-page/regions/moscow-oblast/banner-moscow-oblast.png);
}

.banner-murmansk {
  background-image: url(/src/img/highpoint-page/regions/murmansk/banner-murmansk.jpg);
}

.banner-novgorod {
  background-image: url(/src/img/highpoint-page/regions/novgorod/banner-novgorod.jpg);
}

.banner-oryol {
  background-image: url(/src/img/highpoint-page/regions/oryol/banner-oryol.jpg);
}

.banner-pskov {
  background-image: url(/src/img/highpoint-page/regions/pskov/banner-pskov.jpg);
}

.banner-rostov {
  background-image: url(/src/img/highpoint-page/regions/rostov/banner-rostov.jpg);
}

.banner-ryazan {
  background-image: url(/src/img/highpoint-page/regions/ryazan/banner-ryazan.jpg);
}

.banner-smolensk {
  background-image: url(/src/img/highpoint-page/regions/smolensk/banner-smolensk.jpg);
}

.banner-tambov {
  background-image: url(/src/img/highpoint-page/regions/tambov/banner-tambov.jpg);
}

.banner-tver {
  background-image: url(/src/img/highpoint-page/regions/tver/banner-tver.jpg);
}

.banner-tula {
  background-image: url(/src/img/highpoint-page/regions/tula/banner-tula.jpg);
}

.banner-yaroslavl {
  background-image: url(/src/img/highpoint-page/regions/yaroslavl/banner-yaroslavl.jpg);
}

/* Края */
.banner-krasnodar {
  background-image: url(/src/img/highpoint-page/krai/krasnodar/banner-krasnodar.jpeg);
}

/* Города федерального значения */
.banner-moscow {
  background-image: url(/src/img/highpoint-page/federal_cities/moscow/banner-moscow.png);
}

.banner-saint-petersburg {
  background-image: url(/src/img/highpoint-page/federal_cities/saint-petersburg/banner-saint-petersburg.jpg);
}

/* Автономные округа */
.banner-nenets {
  background-image: url(/src/img/highpoint-page/autonomous_districts/nenets/banner-nenets.png);
}

/*# sourceMappingURL=style.css.map */
