$color-background: white;
$color-background-text: rgba(255, 255, 255, 0.8);

$color-text: #403F3D;
$color-text-buttons: #f1f1f1;

$color-border: rgba(2%, 43%, 67%, 1);

$desktop-width: 1440px;
$laptop-width: 1200px;
$tablet-width: 1024px;
$tablet-mini-width: 820px;
$mobile-width: 431px;
$mobile-small-width: 375px;