.about-top {
    display: flex;
}

.about-photo {
    background-image: url("/src/img/about/photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 550px;
    height: 600px;
    margin: 20px;
}

.about-info {
    margin: 20px;
}

.about-title {
    padding: 0px 10px 10px;
    color: rgb(5, 110, 171);
}

.about-content {
    padding: 0px 10px 10px;
}

.project-title {
    color: rgb(5, 110, 171);
    text-align: center;
}

.form-title {
    text-align: center;
    color: rgb(5, 110, 171);
    padding: 10px;
}

.about-warning {
    padding: 5px 10px;
    list-style: disc ;
    list-style-position: inside;
}

.about-link {
    color: rgb(5, 110, 171);
    font-weight: 700;
}