.about-top {
    display: flex;
    @include media-mini-tablet {
      flex-direction: column;
    }
}

.about-photo {
    background-image: url("/src/img/about/photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 550px;
    height: 600px;
    margin-top: 20px;
    margin-left: 10px;
    @include media-laptop {
        min-width: 450px;
        height: 500px;
    }
    @include media-tablet {
        min-width: 350px;
        height: 400px;
    }
    @include media-mini-tablet {
        min-width: 350px;
        height: 450px;
    }
    @include media-mobile {
        min-width: 300px;
        height: 350px;
    }
}

.about-info {
    margin: 20px;
    @include media-mini-tablet {
        margin: 20px 0px 0px;
      }
}

.about-title {
    padding: 0px 10px 10px;
    color: rgb(5, 110, 171);
    @include media-mini-tablet {
        text-align: center;
    }
}

.about-content {
    padding: 0px 10px 10px;
}

.project-title {
    color: rgb(5, 110, 171);
    text-align: center;
}

.form-title {
    text-align: center;
    color: rgb(5, 110, 171);
    padding: 10px;
}

.about-warning {
    padding: 5px 10px;
    list-style: disc ;
    list-style-position: inside;
}

.about-link {
    color: rgb(5, 110, 171);
    font-weight: 700;
}