/* Баннер секция */
.banner-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
}

.banner-section__title {
  line-height: 115%;
}

.banner-section__container {
  width: 30%;
  padding: 100px 20px;
  @include media-tablet {
    width: 55%;
  }
  @include media-mobile {
    width: 90%;
    padding: 20px 20px;
  }
}

.banner-section__content {
 background-color: $color-background-text;
 padding: 20px 20px;
 border-radius: 10px;
 margin-bottom: 20px;
}

.banner-section__description {
  line-height: 150%;
  font-size: 1.1em;
}

/* Статья. Важные поинты */
.highpoint-article {
  margin-top: 20px;
  display: flex;
  @include media-tablet {
    flex-direction: column; 
  }
}

.highpoint-article__info {
  padding: 20px 20px 0px 10px;
  line-height: 150%;
  border-right: 1px solid $color-border;
  @include media-tablet {
    border-right: 0px solid $color-border;
  }
  @include media-mobile {
    padding: 20px 0px;
  }
}

.highpoint-article__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    @include media-laptop {
      gap: 10px;
    }
    @include media-mobile {
      flex-direction: column;
    }
}

.highpoint-article__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.highpoint-article__contain {
  display: flex;
  align-items: center;
  gap: 5px
}

.highpoint-article__item__icon {
  display: inline-block;
  min-width: 25px;
  min-height: 25px;
}

.highpoint-article__item__title {
  @include media-mobile {
    text-align: center;
  }
}

.highpoint-article__item__description {
    font-weight: 700;
}

/* Статья. Навигация */
.article-section__list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  @include media-mobile {
    flex-direction: column;
  }
}

.article-section__item {
  font-size: 20px;
  border: 1px solid $color-border;
  padding: 10px;
}

.article-section__item:not(:last-child) {
  border-right: 1px solid $color-border;
}

/* Статья. Основной контент */
.highpoint-article__subtitle {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid $color-border;
  @include media-mobile {
    text-align: center;
  }
}

.highpoint-article__subtitle-route {
  padding-left: 30px;
  margin-bottom: 0px;
  @include media-mobile {
    text-align: center;
  }
}

.highpoint-article__content {
  padding: 10px 0px;
  @include media-mobile {
    text-align: center;
  }
}

.article_check__info {
  margin-top: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 60%;
  padding: 5px;
  @include media-mobile {
    width: 80%;
  }
}

.highpoint-article__map-image {
  max-width: 800px;
  border: 1px solid $color-border;
  border-radius: 20px;
  margin: auto;
  @include media-laptop {
    max-width: 600px;
  }
  @include media-mobile {
    max-width: 350px;
    display: block;
    margin: auto;
  }
}

.highpoint-photo {
  max-width: 800px;
  border: 1px solid $color-border;
  border-radius: 20px;
  @include media-laptop {
    max-width: 600px;
  }
  @include media-mobile {
    max-width: 350px;
    display: block;
    margin: auto;
  }
}

.altimeter-img
{
  width: 300px;
  margin-top: 10px;
  border: 1px solid $color-border;
  border-radius: 20px;
  @include media-laptop {
    max-width: 600px;
  }
  @include media-mobile {
    max-width: 350px;
    display: block;
    margin: auto;
  }
}

.highpoint-page-link {
  color: $color-border;
  font-weight: 700;
}

.highpoint-page-link:hover {
  border-bottom: 1px solid $color-border;
}

/* Aside */
.highpoint-aside {
    padding: 0px 20px;
    width: 50vw;
    min-width: 350px;
    @include media-mobile {
      padding: 0px;
      width: 94vw;
    }
}

.highpoint-aside__title {
    margin-bottom: 10px;
}

.highpoint-aside__routes {
  margin-bottom: 20px;
}

.highpoint-aside__route {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.highpoint-aside__nakarte-icon {
  display: inline-block;
  background-image: url("/src/img/highpoint-page/nakarte.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.highpoint-aside__kml-icon {
  display: inline-block;
  background-image: url("/src/img/highpoint-page/kml.jpg");
  background-size: cover;
  width: 21px;
  height: 20px;
  border-radius: 5px;
}

.highpoint-aside__gpx-icon {
  display: inline-block;
  background-image: url("/src/img/highpoint-page/gpx.png");
  background-size: cover;
  width: 21px;
  height: 20px;
  border-radius: 5px;
}

.highpoint-aside__video {
    width: 100%;
    height: 22vh;
    border-radius: 20px;
    @include media-tablet {
      height: 25vh;
    }
}