/* Home. Welcome */
.welcome-section {
  background-image: url(/src/img/home/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
  @include media-tablet {
    height: 40vh;
  }
  @include media-mobile {
    height: 45vh;
  }
}

.welcome-section__container {
  width: 40%;
  padding: 100px 20px;
  @include media-tablet {
    width: 90%;
    padding: 50px 20px;
}
}

.welcome-section__content {
 background-color: $color-background-text;
 padding: 20px 20px;
 border-radius: 10px;
 margin-bottom: 10px;
 border: 3px solid $color-border;
 @include media-mobile {
  padding: 15px 15px;
}
}

.welcome-section__title {
  @include media-mobile {
    font-size: 1.6em;
  }
}

.welcome-section__description {
  line-height: 150%;
}

/* Main. Search */
.region-tabs__list {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: 10px;
}

.region-tabs__item {
  padding: 10px 15px;
  border: 1px solid $color-border;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.region-tabs__item:hover {
  background-color: $color-border;
  color: $color-text-buttons;
}

.item-active {
  background-color: $color-border;
  color: $color-text-buttons;
}

.search-section {
  margin-top: 20px;
}

.search-container {
  margin-top: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
}

.filter-select {
 width: 250px;
}

.search-section__title {
  text-align: center;
}

.search-container {
  display: flex;
}

.search-form {
  margin: auto;
}

/* Main. News */
.news-section__content-container {
  height: 40vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  gap: 40px;
  background-image: url(/src/img/news/mari-el.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  @include media-tablet {
   flex-direction: column; 
  }
  @include media-mobile {
    height: 50vh;
    padding: 20px;
    gap: 10px;
  }
}

.news-section__content {
  width: 50%;
  padding-left: 20px;
  background-color: $color-background-text;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
  align-self: self-start;
  @include media-tablet {
    width: 95%;
   }
   @include media-mobile {
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

.news-section__video {
  width: 50%;
  height: 100%;
  @include media-tablet {
    width: 60%;
  }
  @include media-mobile {
    width: 100%;
  }
}

.news-video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}