.participants-header {
  padding: 20px 20px 0px;
}

.participants-info {
  padding: 20px 20px;
}

.header-table {
  font-size: 1.6em;
  padding: 20px 20px 10px;
  text-align: center;
  color: rgb(5, 110, 171);
}

.header-FO-table {
  font-size: 1.4em;
  padding: 20px 20px 10px;
}

.table-container {
  max-width: 100%; /* Максимальная ширина контейнера */
  overflow-x: auto; /* Горизонтальный скролл при необходимости */
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
    @include media-tablet {
    border: 0px solid #c1c0c0;
  }
}

.table th:nth-child(2), .table td:nth-child(2) {
  position: sticky; /* Зафиксировать первый столбец */
  left: 0; /* Позиция зафиксированного столбца */
  background-color: #f1f1f1; /* Цвет фона для зафиксированного столбца */
  z-index: 1; /* Слой отображения для зафиксированного столбца */
}

caption {
  font-weight: 700;
  padding: 10px 5px 10px;
  text-align: left;
}

td,
th {
  font-size: 0.9em;
  border: 1px solid #c1c0c0;
  padding: 5px;
  line-height: 120%;
  @include media-tablet {
    border: 0px solid #c1c0c0;
  }
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #f9f9f9;
}

tr:nth-child(odd) td {
  background-color: #fff;
}

tbody tr .point-done {
  background-color: rgb(183, 227, 255);
}

.table-fio {
  min-width: 145px;
}