.banner-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
}

.banner-section__container {
  width: 30%;
  padding: 100px 20px;
}

.banner-section__content {
 background-color: $color-background-text;
 padding: 20px 20px;
 border-radius: 10px;
 margin-bottom: 20px;
}

.banner-section__description {
  line-height: 150%;
  text-align: justify;
  font-size: 1.1em;
}

.highpoint-article {
  margin-top: 20px;
  display: flex;
}

.highpoint-article__items {
    display: flex;
    justify-content: left;
    padding-left: 30px;
    align-items: center;
    gap: 50px;
}

.highpoint-article__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.highpoint-article__item__description {
    font-weight: 700;
}

.highpoint-article__subtitle {
  margin-top: 20px;
  padding-left: 30px;
}


.highpoint-article__info {
  padding: 20px 30px 0px;
  line-height: 150%;
  border-right: 1px solid $color-border;
}

.highpoint-article__content {
  padding: 20px 30px 0px;
}

.altimeter-img{
  width: 300px;
}

.highpoint-aside {
    padding: 0px 20px;
    width: 50vw;
}

.highpoint-aside__title {
    margin-bottom: 10px;
}

.highpoint-aside__routes {
  margin-bottom: 20px;
}

.highpoint-aside__video {
    width: 100%;
    height: 22vh;
    border-radius: 20px;
}

  /* Баннеры */
.banner-adigea {
  background-image: url(../../img/Russia-republics/Adigea.jpg);
}

.banner-mari_el {
  background-image: url(../../img/Russia-republics/Mari_el.png);
}