/* Home. Welcome */
.welcome-section {
  background-image: url(../../img/home/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.welcome-section__container {
  width: 40%;
  padding: 100px 20px;
}

.welcome-section__content {
 background-color: $color-background-text;
 padding: 20px 20px;
 border-radius: 10px;
 margin-bottom: 20px;
}

.welcome-section__description {
  line-height: 150%;
  text-align: justify;
}

/* Main. Search */
.region-tabs__list {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.region-tabs__item {
  padding: 10px 15px;
  border: 1px solid $color-border;
  border-radius: 25px;
  cursor: pointer;
}

.item-active {
  background-color: $color-border;
  color: $color-text-buttons;
}

.search-section {
  margin-top: 20px;
}

.search-container {
  margin-top: 20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
}

.filter-select {
 width: 250px;
}

.search-section__title {
  text-align: center;
}

.search-container {
  display: flex;
}

.search-form {
  margin: auto;
}

/* Main. News */
.news-section {
  height: 30vh;
}

.news-section__content-container {
  width: 40%;
  padding: 80px 20px;
}