/* Баннеры. Республики*/
.banner-adigea {
  background-image: url(/src/img/highpoint-page/republics/adigea/banner_adigea.jpg);
}

.banner-altai-republic {
  background-image: url(/src/img/highpoint-page/republics/altai_republic/banner-altai.jpg);
}

.banner-bashkortostan {
  background-image: url(/src/img/highpoint-page/republics/bashkortostan/banner-bashkortostan.jpg);
}

.banner-buryatia {
  background-image: url(/src/img/highpoint-page/republics/buryatia/banner-buryatia.jpg);
}

.banner-dagestan {
  background-image: url(/src/img/highpoint-page/republics/dagestan/banner-dagestan.jpg);
}

.banner-ingushetia {
  background-image: url(/src/img/highpoint-page/republics/ingushetia/banner-ingushetia.jpg);
}

.banner-kabardino-balkaria {
  background-image: url(/src/img/highpoint-page/republics/kabardino-balkaria/banner-kabardino-balkaria.jpg);
}

.banner-kalmykia {
  background-image: url(/src/img/highpoint-page/republics/kalmykia/banner-kalmykia.jpg);
}

.banner-karachay-cherkessia {
  background-image: url(/src/img/highpoint-page/republics/karachay-cherkessia/banner-karachay-cherkessia.jpg);
}

.banner-karelia {
  background-image: url(/src/img/highpoint-page/republics/karelia/banner-karelia.jpg);
}

.banner-komi {
  background-image: url(/src/img/highpoint-page/republics/komi/banner-komi.jpg);
}

.banner-mari_el {
  background-image: url(/src/img/highpoint-page/republics/mari_el/banner_mari_el.png);
}

.banner-mordovia {
  background-image: url(/src/img/highpoint-page/republics/mordovia/banner_mordovia.jpg);
}

.banner-sakha {
  background-image: url(/src/img/highpoint-page/republics/sakha/banner-sakha.jpg);
}

.banner-severnya-ossetia {
  background-image: url(/src/img/highpoint-page/republics/severnaya_ossetia/banner-severnaa-ossetia.jpg);
}

.banner-tatarstan {
  background-image: url(/src/img/highpoint-page/republics/tatarstan/banner-tatarstan.jpg);
}

.banner-tuva {
  background-image: url(/src/img/highpoint-page/republics/tuva/banner-tuva.jpg);
}

/* Баннеры. Области*/
.banner-arkhangelsk {
  background-image: url(/src/img/highpoint-page/regions/arkhangelsk/banner-arkhangelsk.jpg);
}

.banner-belgorod {
  background-image: url(/src/img/highpoint-page/regions/belgorod/banner-belgorod.png);
}

.banner-bryansk {
  background-image: url(/src/img/highpoint-page/regions/bryansk/banner-bryansk.png);
}

.banner-vladimir {
  background-image: url(/src/img/highpoint-page/regions/vladimir/banner-vladimir.jpg);
}

.banner-vologda {
  background-image: url(/src/img/highpoint-page/regions/vologda/banner-vologda.jpg);
}

.banner-voronezh {
  background-image: url(/src/img/highpoint-page/regions/voronezh/banner-voronezh.png);
}

.banner-ivanovo {
  background-image: url(/src/img/highpoint-page/regions/ivanovo/banner-ivanovo.jpg);
}

.banner-kaliningrad {
  background-image: url(/src/img/highpoint-page/regions/kaliningrad/banner-kaliningrad.jpg);
}

.banner-kaluga {
  background-image: url(/src/img/highpoint-page/regions/kaluga/banner-kaluga.png);
}

.banner-kostroma {
  background-image: url(/src/img/highpoint-page/regions/kostroma/banner-kostroma.png);
}

.banner-kursk {
  background-image: url(/src/img/highpoint-page/regions/kursk/banner-kursk.jpg);
}

.banner-leningrad {
  background-image: url(/src/img/highpoint-page/regions/leningrad/banner-leningrad.jpg);
}

.banner-lipetsk {
  background-image: url(/src/img/highpoint-page/regions/lipetsk/banner-lipetsk.jpg);
}

.banner-moscow-oblast {
  background-image: url(/src/img/highpoint-page/regions/moscow-oblast/banner-moscow-oblast.png);
}

.banner-oryol {
  background-image: url(/src/img/highpoint-page/regions/oryol/banner-oryol.jpg);
}

.banner-ryazan {
  background-image: url(/src/img/highpoint-page/regions/ryazan/banner-ryazan.jpg);
}

.banner-smolensk {
  background-image: url(/src/img/highpoint-page/regions/smolensk/banner-smolensk.jpg);
}

.banner-tambov {
  background-image: url(/src/img/highpoint-page/regions/tambov/banner-tambov.jpg);
}

.banner-tver {
  background-image: url(/src/img/highpoint-page/regions/tver/banner-tver.jpg);
}

.banner-tula {
  background-image: url(/src/img/highpoint-page/regions/tula/banner-tula.jpg);
}

.banner-yaroslavl {
  background-image: url(/src/img/highpoint-page/regions/yaroslavl/banner-yaroslavl.jpg);
}

/* Города федерального значения */
.banner-moscow {
  background-image: url(/src/img/highpoint-page/federal_cities/moscow/banner-moscow.png);
}