/* Icons */
.icon-field {
    background-image: url("/src/img/highpoint-page/icons/field-icon.png");
    background-size: cover;
  }
  
  .icon-hills {
    background-image: url("/src/img/highpoint-page/icons/hills-icon.png");
    background-size: cover;
  }
  
  .icon-forest {
    background-image: url("/src/img/highpoint-page/icons/forest-icon.png");
    background-size: cover;
  }
  
  .icon-mountains {
    background-image: url("/src/img/highpoint-page/icons/mountains-icon.png");
    background-size: cover;
  }
  
  .icon-check {
    background-image: url("/src/img/highpoint-page/icons/check-icon.png");
    background-size: cover;
  }
  
  .icon-dispute {
    background-image: url("/src/img/highpoint-page/icons/dispute-icon.png");
    background-size: cover;
  }
  
  .icon-search {
    background-image: url("/src/img/highpoint-page/icons/search-icon.png");
    background-size: cover;
  }
  
  .icon-available {
    background-image: url("/src/img/highpoint-page/icons/available-icon.png");
    background-size: cover;
  }
  
  .icon-walk {
    background-image: url("/src/img/highpoint-page/icons/walk-icon.png");
    background-size: cover;
  }
  
  .icon-hike {
    background-image: url("/src/img/highpoint-page/icons/hike-icon.png");
    background-size: cover;
  }
  
  .icon-expedition {
    background-image: url("/src/img/highpoint-page/icons/expedition-icon.png");
    background-size: cover;
  }
  
  .icon-not-climbing {
    background-image: url("/src/img/highpoint-page/icons/accessibility-icon.png");
    background-size: cover;
  }
  
  .icon-climbing-light {
    background-image: url("/src/img/highpoint-page/icons/warning-climbing-icon.png");
    background-size: cover;
  }
  
  .icon-climbing-hard {
    background-image: url("/src/img/highpoint-page/icons/climbing-icon.png");
    background-size: cover;
  }