/* Republics */
.card-adygea {
    background-image: url(/src/img/highpoint-card/republics/adygea.jpg);
}

.card-altai-republic {
    background-image: url(/src/img/highpoint-card/republics/altai-republic.jpg);
}

.card-bashkortostan {
    background-image: url(/src/img/highpoint-card/republics/bashkortostan.jpg);
}

.card-buryatia {
    background-image: url(/src/img/highpoint-card/republics/buryatia.jpg);
}

.card-dagestan {
    background-image: url(/src/img/highpoint-card/republics/dagestan.jpg);
}

.card-ingushetia {
    background-image: url(/src/img/highpoint-card/republics/ingushetia.jpg);
}

.card-kabardino-balkaria {
    background-image: url(/src/img/highpoint-card/republics/kabardino-balkaria.jpg);
}

.card-kalmykia {
    background-image: url(/src/img/highpoint-card/republics/kalmykia.jpg);
}

.card-karachay-cherkessia {
    background-image: url(/src/img/highpoint-card/republics/karachay-cherkessia.jpg);
}

.card-karelia {
    background-image: url(/src/img/highpoint-card/republics/karelia.jpg);
}

.card-komi {
    background-image: url(/src/img/highpoint-card/republics/komi.jpg);
}

.card-mari-el {
    background-image: url(/src/img/highpoint-card/republics/Mari_el.png);
}

.card-mordovia {
    background-image: url(/src/img/highpoint-card/republics/mordovia.jpg);
}

.card-sacha {
    background-image: url(/src/img/highpoint-card/republics/sakha.jpg);
}

.card-severnya_ossetia {
    background-image: url(/src/img/highpoint-card/republics/severnya_ossetia.jpg);
}

.card-tatarstan {
    background-image: url(/src/img/highpoint-card/republics/tatarstan.jpg);
}

.card-tuva {
    background-image: url(/src/img/highpoint-card/republics/tuva.jpg);
}

.card-udmurtia {
    background-image: url(/src/img/highpoint-card/republics/udmurtia.jpg);
}

.card-hakasia {
    background-image: url(/src/img/highpoint-card/republics/hakasia.jpg);
}

.card-chechen {
    background-image: url(/src/img/highpoint-card/republics/chechen.jpg);
}

.card-chuvashia {
    background-image: url(/src/img/highpoint-card/republics/chuvashia.jpg);
}

/* Krai */
.card-altai-krai {
  background-image: url(/src/img/highpoint-card/krai/altai-krai.jpg);
}

.card-zabaikalsky {
  background-image: url(/src/img/highpoint-card/krai/zabaikalsky.jpg);
}

.card-kamchatka {
  background-image: url(/src/img/highpoint-card/krai/kamchatka.jpg);
}

.card-krasnodar {
  background-image: url(/src/img/highpoint-card/krai/krasnodar.jpeg);
}

.card-krasnoyarsk {
  background-image: url(/src/img/highpoint-card/krai/krasnoyarsk.jpg);
}

.card-perm {
  background-image: url(/src/img/highpoint-card/krai/perm.jpg);
}

.card-primorsky {
  background-image: url(/src/img/highpoint-card/krai/primorsky.jpg);
}

.card-stavropol {
  background-image: url(/src/img/highpoint-card/krai/stavropol.png);
}

.card-habarovsk {
  background-image: url(/src/img/highpoint-card/krai/habarovsk.jpg);
}

/* Regions */
.card-amur {
  background-image: url(/src/img/highpoint-card/regions/amur.jpg);
}

.card-arkhangelsk {
  background-image: url(/src/img/highpoint-card/regions/arkhangelsk.jpg);
}

.card-astrakhan {
  background-image: url(/src/img/highpoint-card/regions/astrakhan.jpg);
}

.card-belgorod {
  background-image: url(/src/img/highpoint-card/regions/belgorod.png);
}

.card-bryansk {
  background-image: url(/src/img/highpoint-card/regions/bryansk.png);
}

.card-vladimir {
  background-image: url(/src/img/highpoint-card/regions/vladimir.jpg);
}

.card-volgograd {
  background-image: url(/src/img/highpoint-card/regions/volgograd.jpg);
}

.card-vologda {
  background-image: url(/src/img/highpoint-card/regions/vologda.jpg);
}

.card-voronezh {
  background-image: url(/src/img/highpoint-card/regions/voronezh.jpg);
}

.card-ivanovo {
  background-image: url(/src/img/highpoint-card/regions/ivanovo.jpg);
}

.card-irkutsk {
  background-image: url(/src/img/highpoint-card/regions/irkutsk.jpg);
}

.card-kaliningrad {
  background-image: url(/src/img/highpoint-card/regions/kaliningrad.png);
}

.card-kaluga {
  background-image: url(/src/img/highpoint-card/regions/kaluga.png);
}

.card-kemerovo {
  background-image: url(/src/img/highpoint-card/regions/kemerovo.jpg);
}

.card-kirov {
  background-image: url(/src/img/highpoint-card/regions/kirov.png);
}

.card-kostroma {
  background-image: url(/src/img/highpoint-card/regions/kostroma.JPG);
}

.card-kurgan {
  background-image: url(/src/img/highpoint-card/regions/kurgan.jpg);
}

.card-kursk {
  background-image: url(/src/img/highpoint-card/regions/kursk.jpg);
}

.card-leningrad {
  background-image: url(/src/img/highpoint-card/regions/leningrad.jpg);
}

.card-lipetsk {
  background-image: url(/src/img/highpoint-card/regions/lipetsk.jpg);
}

.card-magadan {
  background-image: url(/src/img/highpoint-card/regions/magadan.jpg);
}

.card-moscow-oblast {
  background-image: url(/src/img/highpoint-card/regions/moscow-oblast.JPG);
}

.card-murmansk {
  background-image: url(/src/img/highpoint-card/regions/murmansk.jpg);
}

.card-nizhny-novgorod {
  background-image: url(/src/img/highpoint-card/regions/nizhny_novgorod.jpg);
}

.card-novgorod {
  background-image: url(/src/img/highpoint-card/regions/novgorod.jpg);
}

.card-novosibirsk {
  background-image: url(/src/img/highpoint-card/regions/novosibirsk.jpg);
}

.card-omsk {
  background-image: url(/src/img/highpoint-card/regions/omsk.jpg);
}

.card-orenburg {
  background-image: url(/src/img/highpoint-card/regions/orenburg.jpg);
}

.card-oryol {
  background-image: url(/src/img/highpoint-card/regions/oryol.png);
}

.card-penza {
  background-image: url(/src/img/highpoint-card/regions/penza.jpg);
}

.card-pskov {
  background-image: url(/src/img/highpoint-card/regions/pskov.png);
}

.card-rostov {
  background-image: url(/src/img/highpoint-card/regions/rostov.jpg);
}

.card-ryazan {
  background-image: url(/src/img/highpoint-card/regions/ryazan.JPG);
}

.card-samara {
  background-image: url(/src/img/highpoint-card/regions/samara.jpg);
}

.card-saratov {
  background-image: url(/src/img/highpoint-card/regions/saratov.jpg);
}

.card-sakhalin {
  background-image: url(/src/img/highpoint-card/regions/sakhalin.jpg);
}

.card-sverdlovsk {
  background-image: url(/src/img/highpoint-card/regions/sverdlovsk.jpg);
}

.card-smolensk {
  background-image: url(/src/img/highpoint-card/regions/smolensk.jpg);
}

.card-tambov {
  background-image: url(/src/img/highpoint-card/regions/tambov.jpg);
}

.card-tver {
  background-image: url(/src/img/highpoint-card/regions/tver.png);
}

.card-tomsk {
  background-image: url(/src/img/highpoint-card/regions/tomsk.jpg);
}

.card-tula {
  background-image: url(/src/img/highpoint-card/regions/tula.jpg);
}

.card-tyumen {
  background-image: url(/src/img/highpoint-card/regions/tyumen.jpg);
}

.card-ulyanovsk {
  background-image: url(/src/img/highpoint-card/regions/ulyanovsk.png);
}

.card-chelyabinsk {
  background-image: url(/src/img/highpoint-card/regions/chelyabinsk.jpg);
}

.card-yaroslavl {
  background-image: url(/src/img/highpoint-card/regions/yaroslavl.jpg);
}

/* Federal cities */
.card-moscow {
  background-image: url(/src/img/highpoint-card/federal_cities/moscow.png);
}

.card-saint-petersburg {
  background-image: url(/src/img/highpoint-card/federal_cities/saint-petersburg.jpg);
}

/* Autonomous region */
.card-jewish {
  background-image: url(/src/img/highpoint-card/autonomous_region/jewish.jpg);
}

/* Autonomous districts */
.card-nenets {
  background-image: url(/src/img/highpoint-card/autonomous_districts/nenets.jpg);
}

.card-yugra {
  background-image: url(/src/img/highpoint-card/autonomous_districts/yugra.jpg);
}

.card-chukotka {
  background-image: url(/src/img/highpoint-card/autonomous_districts/chukotka.png);
}

.card-yamal-nenets {
  background-image: url(/src/img/highpoint-card/autonomous_districts/yamal-nenets.jpg);
}