/* Republics */
.card-adygea {
    background-image: url(/src/img/highpoint-card/republics/adygea.jpg);
}

.card-altai-republic {
    background-image: url(/src/img/highpoint-card/republics/altai-republic.jpg);
}

.card-bashkortostan {
    background-image: url(/src/img/highpoint-card/republics/bashkortostan.jpg);
}

.card-buryatia {
    background-image: url(/src/img/highpoint-card/republics/buryatia.jpg);
}

.card-dagestan {
    background-image: url(/src/img/highpoint-card/republics/dagestan.jpg);
}

.card-ingushetia {
    background-image: url(/src/img/highpoint-card/republics/ingushetia.jpg);
}

.card-kabardino-balkaria {
    background-image: url(/src/img/highpoint-card/republics/kabardino-balkaria.jpg);
}

.card-kalmykia {
    background-image: url(/src/img/highpoint-card/republics/kalmykia.jpg);
}

.card-altai-bashkortostan {
    background-image: url(/src/img/highpoint-card/republics/baskortostan.jpg);
}

/* Krai */
